ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    justify-content: center;
    margin: auto;
  }
  
  li {
    list-style: none;
    display: inherit;
  }
  
  #see-more {
    flex: 1 100%;
    text-align: center;
    height: 70px;
  }
  